<a href="https://colab.research.google.com/github/Flotauv/Projet_Git/blob/master/TP_streaming_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TP March 2024

In this section, we are going to process the streaming data about
restaurants. But before to run this script you should run the script
\`TP<sub>streamingsource</sub>.ipynb\` to start the streaming data.

In [4]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=db0c9fb3e4ced96f7a58f733863e923fe06f1db0baccc01a50c1336006b054a6
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
root_path = "/content/drive/MyDrive/Colab Notebooks"

# Processing the streaming data

In [5]:
  from pyspark.sql import SparkSession
  from pyspark.sql.types import StructType

  # Initialize Spark Session
  spark = SparkSession \
  .builder \
  .appName("JsonStreamingSimulation") \
  .getOrCreate()
# To allow automatic schemaInference while reading
  spark.conf.set("spark.sql.streaming.schemaInference", True)

  # Define the schema (optional, for optimization)
  #schema = StructType([...])  # Define your schema according to the JSON structure

  #from pyspark.sql.types import StructType, StructField, StringType

  # Read streamed data
  json_df = spark \
  .readStream \
  .option("maxFilesPerTrigger", 1) \
  .json(root_path + '/json_files_streamed')


  # Processing the data into a table (e.g., displaying it on memory for demo)
  dataStreamWriter = (json_df
  .writeStream
  .queryName("streamed_table")
  .outputMode("append")
  .format("memory"))

  #query.awaitTermination()
  query = dataStreamWriter.start()

# Reviewing streaming process status

In [6]:
print(query.status)

{'message': 'Processing new data', 'isDataAvailable': True, 'isTriggerActive': True}

# Printing the schema of the streamed json data

In [7]:
json_df.printSchema()

root
 |-- address: struct (nullable = true)
 |    |-- building: string (nullable = true)
 |    |-- coord: struct (nullable = true)
 |    |    |-- coordinates: array (nullable = true)
 |    |    |    |-- element: double (containsNull = true)
 |    |    |-- type: string (nullable = true)
 |    |-- street: string (nullable = true)
 |    |-- zipcode: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- cuisine: string (nullable = true)
 |-- grades: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- date: struct (nullable = true)
 |    |    |    |-- $date: long (nullable = true)
 |    |    |-- grade: string (nullable = true)
 |    |    |-- score: long (nullable = true)
 |-- name: string (nullable = true)
 |-- restaurant_id: string (nullable = true)

# Printing the schema of the SQL table where data is stored

In [8]:
describe=spark.sql("DESCRIBE EXTENDED streamed_table").show(20)

print(type(describe))

+-------------+--------------------+-------+
|     col_name|           data_type|comment|
+-------------+--------------------+-------+
|      address|struct<building:s...|   NULL|
|      borough|              string|   NULL|
|      cuisine|              string|   NULL|
|       grades|array<struct<date...|   NULL|
|         name|              string|   NULL|
|restaurant_id|              string|   NULL|
+-------------+--------------------+-------+

<class 'NoneType'>

To visualize the schema better, we convert the streamed table
\`streamed<sub>table</sub>\` into a streamed dataframe \`df\`

In [9]:
df = spark.read.table("streamed_table")
df.printSchema()

root
 |-- address: struct (nullable = true)
 |    |-- building: string (nullable = true)
 |    |-- coord: struct (nullable = true)
 |    |    |-- coordinates: array (nullable = true)
 |    |    |    |-- element: double (containsNull = true)
 |    |    |-- type: string (nullable = true)
 |    |-- street: string (nullable = true)
 |    |-- zipcode: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- cuisine: string (nullable = true)
 |-- grades: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- date: struct (nullable = true)
 |    |    |    |-- $date: long (nullable = true)
 |    |    |-- grade: string (nullable = true)
 |    |    |-- score: long (nullable = true)
 |-- name: string (nullable = true)
 |-- restaurant_id: string (nullable = true)

In [10]:
print(type(df))

<class 'pyspark.sql.dataframe.DataFrame'>

# Printing the data stored in the SQL table

In [11]:
# Now you can query the in-memory table
result_df = spark.sql("SELECT * FROM streamed_table LIMIT 10")
result_df.show(10)

+--------------------+---------+-------+------+--------------------+-------------+
|             address|  borough|cuisine|grades|                name|restaurant_id|
+--------------------+---------+-------+------+--------------------+-------------+
|{1631, {[-73.9474...|Manhattan|  Other|    []|Dong'S Great Wok ...|     50018787|
|{700, {[-73.98823...|Manhattan|  Other|    []|            Whitmans|     50018788|
|{1260, {[-73.9585...|Manhattan|  Other|    []|Serafina Morningside|     50018790|
|{398A, {[-73.9451...|Manhattan|  Other|    []|                    |     50018793|
|{NKA, {[-73.87425...|   Queens|  Other|    []|    Piccolo  Mercato|     50018798|
|{450, {[-73.99842...|Manhattan|  Other|    []|                    |     50018800|
|{4429, {[-73.9518...|   Queens|  Other|    []|                    |     50018801|
|{801, {[-74.00892...| Brooklyn|  Other|    []|                    |     50018804|
|{700, {[-73.98823...|Manhattan|  Other|    []|      Luke'S Lobster|     50018812|
|{6115, {[-73.8967...|    Bronx|  Other|    []|                    |     50018813|
+--------------------+---------+-------+------+--------------------+-------------+

# Tasks

## Task 1

Generate a dataframe called \`transformed<sub>df</sub>\` from the
streamed dataframe \`df\`. Use the grades to generate a table of 5
columns (restaurant<sub>id</sub>, name, date, grade, score). Review the
outputted table of the \`Exercise 7\`from the TD2. You can ask to
ChatGPT4 or Mixtral to generate at least three solutions. Explain the
solutions.

## Task 2

This a solution to the Task 1. Explain how it works.

In [12]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, explode
from pyspark.sql.functions import from_unixtime

In [13]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, explode

# Assuming 'df' is the DataFrame where the JSON was initially written

# If the grades array is nested inside the address, you'd use a select statement like this:
transformed_df = df.select(
    col('restaurant_id'),
    col('name'),
    explode(col('grades')).alias('grades_flat')
).select(
    'restaurant_id',
    'name',
    col('grades_flat.date.$date').alias('date'),
    col('grades_flat.grade').alias('grade'),
    col('grades_flat.score').alias('score')
)

# To format the date properly as shown in the image, we would use the from_unixtime function:
from pyspark.sql.functions import from_unixtime

transformed_df = transformed_df.withColumn(
    'date', from_unixtime(col('date') / 1000, 'yyyy-MM-dd')
)

# Show the resulting DataFrame
#transformed_df.show(10)
transformed_df.sort(col("date").desc()).show(10)

+-------------+--------------------+----------+--------------+-----+
|restaurant_id|                name|      date|         grade|score|
+-------------+--------------------+----------+--------------+-----+
|     50017941|           Chez Alex|2015-01-20|Not Yet Graded|   30|
|     50018344|Las Qrquideas Res...|2015-01-20|Not Yet Graded|    2|
|     50018113|Pair Wine And Cheese|2015-01-20|Not Yet Graded|   15|
|     50018174|     Birdbath Spring|2015-01-20|Not Yet Graded|    9|
|     50018280|       Lefeu Lounge5|2015-01-20|Not Yet Graded|   13|
|     50018661|      Angebienvendia|2015-01-20|Not Yet Graded|    2|
|     50018283|M & K Spanish Res...|2015-01-20|Not Yet Graded|    2|
|     50018173|            Cha Lait|2015-01-20|Not Yet Graded|    2|
|     50018003|Green Life Juice Bar|2015-01-20|Not Yet Graded|   41|
|     50018376| Ab Halal Restaurant|2015-01-20|Not Yet Graded|   58|
+-------------+--------------------+----------+--------------+-----+
only showing top 10 rows

In [14]:
transformed_df.createOrReplaceTempView("transformed_df_view")

## Task 3

The Michelin group wants to award the best restaurant with a Star. A
Michelin Star recognizes restaurants for exceptional cooking. It
considers ingredient quality, flavor harmony, technique mastery, chef's
personality in cuisine, and consistency across the menu and over time.
The manager of the group asks you to find the best(s) restaurant from
the streaming data. Is it possible? If you answer is yes, what would be
your data query strategy to fulfill the request?

-   Explain the steps of the strategy and write the corresponding query
    for each step. Use the sample operations from Exercise 8 in TD2.

The sample operations were:

-   Filtering rows where the grade is 'A'

In [15]:

df1 = transformed_df.filter(transformed_df['grade'] == 'A')
df1.show(5)

+-------------+--------------------+----------+-----+-----+
|restaurant_id|                name|      date|grade|score|
+-------------+--------------------+----------+-----+-----+
|     50018581|            Pad Thai|2015-01-08|    A|    5|
|     50018324|   Shelley'S Kitchen|2015-01-16|    A|   13|
|     50018608|Trini Delite Roti...|2015-01-15|    A|   12|
|     50018555|              Carvel|2014-12-31|    A|   11|
|     50018266|       Sun'S Kitchen|2014-12-17|    A|    3|
+-------------+--------------------+----------+-----+-----+
only showing top 5 rows

In [16]:
df_1_grade_A=spark.sql("SELECT * FROM transformed_df_view WHERE grade='A' ")

df_1_grade_A.show(5)

+-------------+--------------------+----------+-----+-----+
|restaurant_id|                name|      date|grade|score|
+-------------+--------------------+----------+-----+-----+
|     50018581|            Pad Thai|2015-01-08|    A|    5|
|     50018324|   Shelley'S Kitchen|2015-01-16|    A|   13|
|     50018608|Trini Delite Roti...|2015-01-15|    A|   12|
|     50018555|              Carvel|2014-12-31|    A|   11|
|     50018266|       Sun'S Kitchen|2014-12-17|    A|    3|
+-------------+--------------------+----------+-----+-----+
only showing top 5 rows

-   Where clause to select records after a specific date:

In [17]:
 from pyspark.sql.functions import to_date
df1 = transformed_df.where(to_date(transformed_df['date'], 'yyyy-MM-dd') > '2014-01-01')
df1.show(5)

+-------------+--------------------+----------+--------------+-----+
|restaurant_id|                name|      date|         grade|score|
+-------------+--------------------+----------+--------------+-----+
|     50018754|El Coral Deli Res...|2015-01-20|Not Yet Graded|    3|
|     50018661|      Angebienvendia|2015-01-20|Not Yet Graded|    2|
|     50018581|            Pad Thai|2015-01-08|             A|    5|
|     50018468|      Savour Sichuan|2015-01-20|Not Yet Graded|   56|
|     50018480|          ''W'' Cafe|2015-01-20|Not Yet Graded|   43|
+-------------+--------------------+----------+--------------+-----+
only showing top 5 rows

In [18]:
df1_sql=spark.sql("SELECT * FROM transformed_df_view WHERE  date >'2014-01-01'")

df1_sql.show(5)

+-------------+--------------------+----------+--------------+-----+
|restaurant_id|                name|      date|         grade|score|
+-------------+--------------------+----------+--------------+-----+
|     50018754|El Coral Deli Res...|2015-01-20|Not Yet Graded|    3|
|     50018661|      Angebienvendia|2015-01-20|Not Yet Graded|    2|
|     50018581|            Pad Thai|2015-01-08|             A|    5|
|     50018468|      Savour Sichuan|2015-01-20|Not Yet Graded|   56|
|     50018480|          ''W'' Cafe|2015-01-20|Not Yet Graded|   43|
+-------------+--------------------+----------+--------------+-----+
only showing top 5 rows

-   Aggregating to find the average score for each restaurant:

In [19]:
 from pyspark.sql import functions as F
 df1 = transformed_df.groupBy('restaurant_id').agg(F.avg('score').alias('avg_score'))
df1.show(5)

+-------------+---------+
|restaurant_id|avg_score|
+-------------+---------+
|     50018404|     23.0|
|     50018376|     58.0|
|     50018318|     20.0|
|     50018728|     19.0|
|     50018344|      2.0|
+-------------+---------+
only showing top 5 rows

In [29]:
df1_sql_avg=spark.sql("SELECT restaurant_id, MEAN(score) as avg_score FROM transformed_df_view GROUP BY restaurant_id ORDER BY avg_score DESC ")

df1_sql_avg.show(5)

+-------------+---------+
|restaurant_id|avg_score|
+-------------+---------+
|     50018457|     69.0|
|     50018376|     58.0|
|     50018468|     56.0|
|     50018079|     56.0|
|     50018202|     53.0|
+-------------+---------+
only showing top 5 rows

-   Using regexp<sub>replace</sub> to clean up restaurant names: The
    F.regexp<sub>replace</sub> function replaces every \[ or \] found in
    the name column with an empty string '', effectively removing these
    characters from the string.

In [22]:
df1 = transformed_df.withColumn('name_clean', F.regexp_replace('name', r'(\[|\])', ''))
df1.show(5)

+-------------+--------------------+----------+--------------+-----+--------------------+
|restaurant_id|                name|      date|         grade|score|          name_clean|
+-------------+--------------------+----------+--------------+-----+--------------------+
|     50018754|El Coral Deli Res...|2015-01-20|Not Yet Graded|    3|El Coral Deli Res...|
|     50018661|      Angebienvendia|2015-01-20|Not Yet Graded|    2|      Angebienvendia|
|     50018581|            Pad Thai|2015-01-08|             A|    5|            Pad Thai|
|     50018468|      Savour Sichuan|2015-01-20|Not Yet Graded|   56|      Savour Sichuan|
|     50018480|          ''W'' Cafe|2015-01-20|Not Yet Graded|   43|          ''W'' Cafe|
+-------------+--------------------+----------+--------------+-----+--------------------+
only showing top 5 rows

In [24]:
df_sql_name_without_space = spark.sql("SELECT * , regexp_replace(name, '(\[|\])', '') as name_clean FROM transformed_df_view")

df_sql_name_without_space.show(5)

+-------------+--------------------+----------+--------------+-----+--------------------+
|restaurant_id|                name|      date|         grade|score|          name_clean|
+-------------+--------------------+----------+--------------+-----+--------------------+
|     50018754|El Coral Deli Res...|2015-01-20|Not Yet Graded|    3|El Coral Deli Res...|
|     50018661|      Angebienvendia|2015-01-20|Not Yet Graded|    2|      Angebienvendia|
|     50018581|            Pad Thai|2015-01-08|             A|    5|            Pad Thai|
|     50018468|      Savour Sichuan|2015-01-20|Not Yet Graded|   56|      Savour Sichuan|
|     50018480|          ''W'' Cafe|2015-01-20|Not Yet Graded|   43|          ''W'' Cafe|
+-------------+--------------------+----------+--------------+-----+--------------------+
only showing top 5 rows

-   Applying conditional logic with when to create a new
    'score<sub>category</sub>' column

In [25]:
 df1 = transformed_df.withColumn('score_category', F.when(transformed_df['score'] < 10, 'Low')
                                               .when(transformed_df['score'] < 13, 'Medium')
                                               .otherwise('High'))
df1.show(5)

+-------------+--------------------+----------+--------------+-----+--------------+
|restaurant_id|                name|      date|         grade|score|score_category|
+-------------+--------------------+----------+--------------+-----+--------------+
|     50018754|El Coral Deli Res...|2015-01-20|Not Yet Graded|    3|           Low|
|     50018661|      Angebienvendia|2015-01-20|Not Yet Graded|    2|           Low|
|     50018581|            Pad Thai|2015-01-08|             A|    5|           Low|
|     50018468|      Savour Sichuan|2015-01-20|Not Yet Graded|   56|          High|
|     50018480|          ''W'' Cafe|2015-01-20|Not Yet Graded|   43|          High|
+-------------+--------------------+----------+--------------+-----+--------------+
only showing top 5 rows

In [27]:
df_score_category = spark.sql("""
    SELECT restaurant_id, name, date, grade, score,
           CASE
               WHEN score < 10 THEN 'Low'
               WHEN score < 13 THEN 'Medium'
               ELSE 'High'
           END AS score_category
    FROM transformed_df_view
""")

df_score_category.show(5)

+-------------+--------------------+----------+--------------+-----+--------------+
|restaurant_id|                name|      date|         grade|score|score_category|
+-------------+--------------------+----------+--------------+-----+--------------+
|     50018754|El Coral Deli Res...|2015-01-20|Not Yet Graded|    3|           Low|
|     50018661|      Angebienvendia|2015-01-20|Not Yet Graded|    2|           Low|
|     50018581|            Pad Thai|2015-01-08|             A|    5|           Low|
|     50018468|      Savour Sichuan|2015-01-20|Not Yet Graded|   56|          High|
|     50018480|          ''W'' Cafe|2015-01-20|Not Yet Graded|   43|          High|
+-------------+--------------------+----------+--------------+-----+--------------+
only showing top 5 rows